version: '3.8'

services:
  server:
    build: ./server
    ports:
      - '5000:5000'
    volumes:
      - ./server/database.sqlite:/app/database.sqlite
    environment:
      - NODE_ENV=production
      - PORT=5000
    restart: unless-stopped

  client:
    build:
      context: ./client
      args:
        REACT_APP_API_URL: http://server:5000
    ports:
      - '5500:80'
    depends_on:
      - server
    restart: unless-stopped
